<div class="container">
  <article id="login" class="panel panel-default">
    <div class="panel-body text-center">
      <h1>Talkabit</h1>
      <p>
        Create an account or Log In with
      </p>
      <p>Terms & Privacy</p>
    </div>
    <a href="#login" class="connect facebook">
      <div class="connect_icon">
        <i class="fa fa-facebook"></i>
      </div>
      <div class="connect_context">
        <span><strong>Facebook</strong></span>
      </div>
    </a>
    <a href="#login" class="connect googleplus">
      <div class="connect_icon">
        <i class="fa fa-google-plus"></i>
      </div>
      <div class="connect_context">
        <span><strong>Google+</strong></span>
      </div>
    </a>
  </article>
</div>