<div class="container">

  <div class="panel panel-default talkabit-panel-record">
    <div class="panel-heading">
      <h4>Record Video</h4>
    </div> 
    <div class="panel-body">
      <div class="col-xs-12 ">
        <video id="video" class="img-responsive">Video stream not available.</video>
        <video id="videoResult" class="img-responsive" controls="" >Video stream not available.</video>
      </div>
    </div>
  </div>
        <audio id="audioResult" class="img-responsive" controls="" >Video stream not available.</audio>
</div>
<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 text-center">
      </div>
      <div class="col-xs-4 text-center">
        <button class="btn btn-talkabit-border-less" ng-click="record.recordManager()"><i class="fa fa-circle fa-3x"></i> </a>
      </div>
      <div class="col-xs-4 text-center">
      </div>
    </div>
  </div>
</div>