<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 text-center">
        <a ui-sref="home"><i class="fa fa-home fa-3x"></i> </a>
      </div>
      <div class="col-xs-4 text-center">
        <a ui-sref="record"><i class="fa  fa-circle-thin fa-3x"></i> </a>
      </div>
      <div class="col-xs-4 text-center">
        <a ui-sref="home"><i class="fa fa-user fa-3x"></i> </a>
      </div>

    </div>
  </div>
</div>